* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #2C3E50;
    min-height: 5rem;
    display:flex;
    justify-content: space-around;
    color: white;

}
.ul1 {
    display: flex;
}

.menu1 {
    margin: 0.7rem;
    list-style: none;
    margin-top: 2rem;
}

footer {
    background-color: #2C3E50;
    padding: 0 0 20px 0;
    color: white;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
}

.footer-column h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.imglogos {
    display: flex;
    justify-content: center;  
    align-items: center;     
}


.footer-bottom {
    margin-top: 20px;
}

footer div {
    padding: 0 8px 0 8px;
}

.copyright1 {
    font-size: 0.9rem;
    color: white;
}

.p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}

.copyright1  {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;

}

.imglogos img {
    flex-direction: row;
    display: flex;
    height: 20px;
    width: 20px;
    margin: 0 10px 0 0 ;
}


a {
    text-decoration: none;
}

h2  {
    font-size: 35px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    padding-top: 5rem;
}

.title {
    font-size: 25px;
    align-content: center;
    font-weight: 1000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: white;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.aqua1 {
    background-color:#1ABC9C;
    padding-bottom: 30px;
    min-height: 10rem;
}

.aqua2 {
    margin-top: 10px;
    background-color:#1ABC9C;
    padding-bottom: 30px;
    min-height: 10rem;
}

.blanco1 {
    background-color: white;
    padding: 0;
}

.blanco2 {
    background-color: white;
    padding: 0;
}

.avatar {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
}

.portfolioH2 {
    padding-top: 30px;
}

.starttitle {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 35px;
}

.starW {
    display: block;
    padding-bottom: 15px;
    padding-top: 10px;
    margin: 0 auto;
    height: 30px;
    width: 150px;
}

.starB {
    display: block;
    padding-top: 10px;
    margin: 0 auto;
    height: 30px;
    width: 150px;
}

.GraphicArtist {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.imagesT {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 25px 0 25px 0;
    padding: 0 100px 0 100px;
    
}

.imagesT img {
    max-width: 150px;
    border-radius: 5px;
    justify-content: space-around;
}

.AboutH2 {
    padding-top: 20px;
    color: white;
}


.buttonDownload {
    color: white;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: 0 auto;
    border-color: white;
    background-color: transparent;
    border-style: solid ;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

.buttonDownload:hover {
    transform: scale(0.90);
    background-color: rgba(255, 255, 255, 0.096);
}

.contactH2 {
    padding-top: 30px;
}

.containerP {
padding-bottom: 10px;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 600;
display: flex; 
margin: 0 auto;
justify-content: space-between;
width: 80%;
padding-bottom: 30px;
gap: 50px;
}


.WForm {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width:200px;
    margin: 0 auto;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.submit_button {
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    background-color:#1ABC9C;
    border-color:#1ABC9C;
    border-style: solid;
    border-radius: 4px;
    width: 90%;
    height: 40px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.submit_button:hover  {
    transform: scale(0.9);
    background-color: #06a786;

}



.location1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;



}

.FreelanceText {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;

}

.FreeLast {
    color: #1ABC9C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}



@media only screen and (max-width: 600px) {

    .title {
        font-size: 15px;
        align-content: center;
        font-weight: 1000;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .menu1 {
        font-size: 0.7rem;
        margin: 0.2rem;
        list-style: none;
        align-items: center;
        margin-top: 2.15rem;
    }
    
    .starttitle {
        color: white;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 900;
        font-size: 20px;
    }
    .GraphicArtist {
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }
    

    .imagesT {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 25px 0 25px 0;
    padding: 0 100px 0 100px;
    
}

    .imagesT img {
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    justify-content: space-around;
}
    
    .AboutH2 {
        padding-top: 20px;
        color: white;
        font-size: 25px;
    }

    .containerP {
        padding-bottom: 10px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        display: flex; 
        margin: 0 auto;
        justify-content: space-between;
        width: 80%;
        padding-bottom: 30px;
        gap: 50px;
        font-size: 12px;
        }

    footer div div h2 {
        font-size: 15px;
    }
    footer {
        background-color: #2C3E50;
        color: white;
        text-align: center;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .footer-column {
        flex: 1;
    }
    
    .footer-column h2 {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }
    
    .imglogos {
        display: flex;
        justify-content: center;  
        align-items: center;     
    }
    
    
    .footer-bottom {
        margin-top: 20px;
    }
    
    .copyright1 {
        font-size: 0.7rem;
        color: white;
    }
    .p2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-weight: 600;
        margin-top: 20px;
        font-size: 12px;
    }

    .portfolioH2 {
        font-size: 1.5rem;
    }

    .AboutH2 {
        font-size: 1.5rem;
    }
    
    .contactH2 {
        font-size: 1.5rem;
    }
}